*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
img{
    vertical-align: middle;
}
/* common css part end */
.bg{
    background-color: gray;
    animation: nammee 2s;
    -webkit-animation: nammee 2s;
}
@keyframes nammee{
    0%{
        top: -50%;
    }
    100%{
        top: 0;
    }
}
/* navbar part start */
.menu_bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    border-bottom: 2px solid yellow;
    
}
.menu_bg ul li{
    margin-left: 10px;
}
.menu_bg ul li a{
    color: white;
    position: relative;
    text-transform: capitalize;
    font-size: 16px;
}
.menu_bg ul li a::after{
    position: absolute;
    content: '';
    bottom: -20px;
    left: 7px;
    height: 2px;
    width: 0;
    background-color: red;
    opacity: 0;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}
.menu_bg ul li a:hover::after{
    opacity: 1;
    width: calc(100% - 16px);
}
.menu_bg ul li a:hover{
    color: #fec600;
}
.menu_bg ul li a.active::after{
    opacity: 1;
    width: 100%;
}
.menu_bg ul li a.active{
    color: #fec600 !important;
}
/* navbar part end */

/* banner part start */
#banner{
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
    position: relative;
}
#banner .carousel-item img{
    height: 700px;
}
#banner button i{
    height: 30px;
    width: 30px;
    background-color: white;
    line-height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 18px;
    border: 1px solid #fec600;
    position: absolute;
    z-index: 3;
    color: black;
}
#banner button i:hover{
    background-color: #fec600;
    color: black;
}
#banner .carousel-item::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.491);
    z-index: 1;
}
#banner .ban_text{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
#banner .ban_text h3{
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-size: 600;
}
#banner .ban_text h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #fec600;
    font-size: 55px;
}
#banner .ban_text p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: lowercase;
    padding: 5px 0;
}
#banner .ban_btn a{
    padding: 15px;
    border: 1px solid white;
    background: transparent;
    color: white;
    margin-right: 15px;
}
#banner .ban_btn a:hover{
    background-color: #fec600;
    color: black;
    border: 1px solid transparent;
}
#banner .ban_text{
    text-transform: uppercase;
}
/* banner part end */


/* about part start */
.about_head h2{
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}
.about_head{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.about_top,
.about_right,
.about_bottom,
.about_left{
    padding: 20px 10px;
    background-color: #eeeeee;
    position: relative;
}
.about_top::after{
    position: absolute;
    content: '';
    height: 30px;
    width: 30px;
    top: 90%;
    right: 40%;
    background-color: #eeeeee;
    transform: translateX(-50%) rotate(-45deg);
    -webkit-transform: translateX(-50%) rotate(-45deg);
    -moz-transform: translateX(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) rotate(-45deg);
    -o-transform: translateX(-50%) rotate(-45deg);
}
.about_top::before{
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    top: 128%;
    right: 45%;
    background-color: black;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.about_bottom::after{
    position: absolute;
    content: '';
    height: 30px;
    width: 30px;
    bottom: 90%;
    right: 40%;
    background-color: #eeeeee;
    transform: translateX(-50%) rotate(-45deg);
    -webkit-transform: translateX(-50%) rotate(-45deg);
    -moz-transform: translateX(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) rotate(-45deg);
    -o-transform: translateX(-50%) rotate(-45deg);
}
.about_bottom::before{
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    bottom: 119%;
    left: 53%;
    background-color: black;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.about_left::after{
    position: absolute;
    content: '';
    height: 30px;
    width: 30px;
    top: 50%;
    right: -4%;
    background-color: #eeeeee;
    transform: translateY(-50%) rotate(-45deg);
    -webkit-transform: translateY(-50%) rotate(-45deg);
    -moz-transform: translateY(-50%) rotate(-45deg);
    -ms-transform: translateY(-50%) rotate(-45deg);
    -o-transform: translateY(-50%) rotate(-45deg);
}
.about_left::before{
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    top: 50%;
    right: -17%;
    background-color: black;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.about_right::after{
    position: absolute;
    content: '';
    height: 30px;
    width: 30px;
    top: 50%;
    left: -4%;
    background-color: #eeeeee;
    transform: translateY(-50%) rotate(-45deg);
    -webkit-transform: translateY(-50%) rotate(-45deg);
    -moz-transform: translateY(-50%) rotate(-45deg);
    -ms-transform: translateY(-50%) rotate(-45deg);
    -o-transform: translateY(-50%) rotate(-45deg);
}
.about_right::before{
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    top: 50%;
    left: -16%;
    background-color: black;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.about_top:hover::before{
    background-color: #fec600;
}
.about_bottom:hover::before{
    background-color: #fec600;
}
.about_left:hover::before{
    background-color: #fec600;
}
.about_right:hover::before{
    background-color: #fec600;
}
.about_bottom:hover{
    background-color: rgba(0, 255, 255, 0.924);
    color: black;
}
.about_top:hover{
    background-color: rgba(0, 255, 255, 0.924);
    color: black;
}
.about_left:hover{
    background-color: rgba(0, 255, 255, 0.924);
    color: black;
}
.about_right:hover{
    background-color: rgba(0, 255, 255, 0.924);
    color: black;
}
.about_top:hover::after{
    background-color: rgba(0, 255, 255, 0.924);
}
.about_bottom:hover::after{
    background-color: rgba(0, 255, 255, 0.924);
}
.about_left:hover::after{
    background-color: rgba(0, 255, 255, 0.924);
}
.about_right:hover::after{
    background-color: rgba(0, 255, 255, 0.924);
}
.about_top h2{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
}
.about_top p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.about_middle img{
    padding: 55px 35px;
   
}
.about_middle{
    position: relative;
}
.about_middle::after{
    position: absolute;
    content: '';
    height: 345px;
    width: 345px;
    top: 42px;
    left: 37px;
    border: 1px solid black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* about part end */


/* portfolio part start */
#portfolio{
    padding: 100px 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.36), rgba(0,0,0,0.365)), url(../images/14.jpg) no-repeat center / cover;
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
     color: white;

}
#portfolio .port_head h2{
      font-size: 35px;
      font-family: 'Raleway', sans-serif;
      font-weight: 400;
      text-transform: capitalize;
}
.port_head p{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 30px 0;
}
/* portfolio part end */

/* services part start */
#service{
    padding: 70px 0;
}
#service .ser_head h2{
    text-transform: capitalize;
}
#service .ser_head p{
    padding: 30px 0;
}
#service .ser_item{
    margin: 30px 0;
}

.round{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
    background-color: green;
}
.round img{
    display: inline-block;
    padding-top: 12px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.round1{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
    background-color: green;
}
.round1 img{
    display: inline-block;
    padding-top: 32px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.slick-center .round,
.slick-center .round1{
    background-color: #fec600;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
#service{
    position: relative;
}
#service .next{
    position: absolute;
    left: 50%;
    top: 265px;
    height: 40px;
    width: 40px;
    border: 2px solid red;
    border-radius: 50%;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
#service .prev{
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 40px;
    width: 40px;
    border: 2px solid red;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
#service::after{
    position: absolute;
    content: '';
    height: 575px;
    width: 2px;
    top: 310px;
    left: 50%;
    background: url(../images/12.png);
    z-index: -1;
}
#service p i{
    margin-top: 12px;
    margin-left: 13px;
}
/* services part end */

/* team part start */
#team{
    background: linear-gradient(rgba(0, 0, 0, 0.387), rgba(0, 0, 0, 0.558)),
     url(../images/20.jpg) no-repeat center / cover ;
    height: 700px;
    position: relative;
    font-family: 'Raleway', sans-serif;
    clip-path: polygon(0 11%, 100% 0, 100% 90%, 0% 100%);

     margin: 100px 0;
}
#team .nex{
    position: absolute;
    left: 19.80%;
    top: 70px;
    height: 40px;
    width: 40px;
    border: 2px solid red;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    
}
#team .pre{
    position: absolute;
    left: 19.80%;
    bottom: 0;
    height: 40px;
    width: 40px;
    border: 2px solid red;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#team::after{
    position: absolute;
    content: '';
    height: 575px;
    width: 2px;
    top: 90px;
    left: 21%;
    background: url(../images/19.png);
    z-index: -1;
}
#team .slick-center .team_img{
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}
#team p i{
    margin-top: 12px;
    margin-left: 10px;
    color: white;
    font-size: 20px;
}
#team .team_main{
    position: absolute;
    z-index: 99;
}
#team .team_text{
  background-color: white;
  padding: 20px;
}
#team .team_head h2{
    font-size: 20px;
    font-weight: 500;
}
#team .team_text .team_icon i{
     color: red;
}
#team .team_text h5{
      font-size: 16px;
      font-weight: 500;
}

#team .team_text p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
#team .team_text h4{
    font-size: 20px;
    font-weight: 400;
    font-family: 'The Nautigal';
    text-align: end;
}
#team .team_img{
    height: 122px !important;
    width: 122px !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 10px auto;
    display: block !important;
}
#team .team_man{
    align-items: center;
    padding: 30px 0;
    margin-top: 130px;
}
#team .team_paragraph{
    margin-top: 118px;
    position: relative;
    z-index: 1;
    background: white;
}
#team .team_paragraph::after{
    position: absolute;
    content: '';
    top: 43%;
    left: -15px;
    height: 30px;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.983);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
/* team part end */

/* pricing part start */
#pricing{
    padding: 100px 0;
}
.pri_head h2{
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 35px;
}
.pri_head p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.pri_main_inner{
    border: 1px solid red;
    position: relative;
}
.pri_main{
     margin: 40px 0;
}
.pri_main_inner h4{
    background-color: #353535;
    padding-top: 20px;
    padding-bottom: 90px;
    color: white;
    text-transform: uppercase;
    clip-path: polygon(0 0, 100% 0, 100% 76%, 0% 100%); 
}
.pri_in_round{
    height: 85px;
    width: 85px;
    background-color: #353535;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: -72px;
    margin-left: 40%;
    z-index: 1;
    position: absolute;
    padding-top: 8px;
    border: 4px solid white;
    color: white;
}
.pri_in_round p span{
    font-weight: 600;
    font-size: 19px;
    padding: 12px;
}
.pri_in_round p{
    font-size: 10px;
}
.pri_in_para{
   background-color: #f1f1f1;
   margin-top: -40px;
   padding-top: 60px;
   padding-bottom: 15px;
   margin-bottom: -20px;
}
.pri_in_para p{
   font-family: 'Open Sans', sans-serif;
   font-size: 14px;
}
.pri_para_btm{
    background-color: #353535;
    clip-path: polygon(0 26%, 100% 0, 100% 100%, 0% 100%);
    padding: 20px;
    color: white;
}
.pri_main_inner:hover h4{
    background-color: #fec600;
}
.pri_main_inner:hover .pri_para_btm{
    background-color: #fec600;
}
.pri_main_inner:hover .pri_in_round{
    background-color: #fec600;
}

.counte{
    width: 100%;
    background-color: #353535;
    padding: 90px 0;
    clip-path: polygon(0 16%, 100% 0, 100% 66%, 0 88%);
}
.counte .counte-in{
    border: 1px solid white;
    transform: skew(-25deg);
    -webkit-transform: skew(-25deg);
    -moz-transform: skew(-25deg);
    -ms-transform: skew(-25deg);
    -o-transform: skew(-25deg);
    color: white;
    padding: 10px;
}
#pricing .counter_main{
    transform: skewY(-2deg);
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    -o-transform: skewY(-2deg);
}
/* pricing part end */


/* our tesam group part start */
#group{
    font-family: 'Raleway', sans-serif;
}
#group .group_head h2{
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 400;
    
}
#group .group_head p{
    padding: 20px 0;
    font-size: 16px;
    font-weight: 300;
}
#group .group_img{
    background-color: rgba(128, 128, 128, 0.559);
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 82%);
    padding-top: 29px;
    position: relative;
    height: 380px;
}
#group .group_img i{
    position: absolute;
    top: 40%;
    left: 45%;
    z-index: 1;
    color: black;
    font-size: 22px;
    height: 50px;
    width: 50px;
    border: 1px solid white;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    line-height: 50px;
    opacity: 0;
}
#group .group_img::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fec70060;
    opacity: 0;
}
#group .group_item:hover .group_img i{
    opacity: 1;
}
#group .group_item:hover .group_img::after{
    opacity: 1;
}
#group .group_text h3{
    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;
}
#group .group_text p{
    font-weight: 400;
    font-size: 16px;
}
#group .group_icon i{
    font-size: 20px;
    height: 40px;
    width: 40px;
    border: 2px solid black;
    line-height: 40px;
    border-radius: 50%;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
#group .group_icon i:hover{
    background-color: #fec600;
    color: white;
}
#group .group_item{
    border: 2px solid black;
}
#group .group_text{
    margin-top: -80px;
}
#group .group_icon{
    margin-bottom: 20px;
    margin-top: -45px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    opacity: 0;
}
#group .group_item:hover .group_icon{
    margin: 0;
    opacity: 1;
    margin-bottom: 20px;
}
/* our team group part end */



/* market part start */
#market{
    padding: 100px 0;
    background: gray;
    clip-path: polygon(0 21%, 100% 0, 100% 79%, 0% 100%);

}
#market .mar_item{
    padding: 30px;
    border: 2px solid #fec700df;
    box-sizing: border-box;
    text-align: center;
    margin: 0 6px;
}
#market .mark_slick{
    transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
}
#market .mar_item img{
     height: 25px;
}
/* market part end */


/* footer part start */
#footer{
    padding: 100px 0;
    background-color: black;
    margin-top: -100px;
}
#footer .btm_head{
    border-bottom: 1px solid rgba(255, 255, 255, 0.726);
    margin-top: 1px solid red;
    padding-bottom: 30px;
    transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
}
#footer .btm_head h3{
    color: white;
}
#footer .btm_item{
    text-align: center;
    padding: 20px;
    color: white;
    border-left: 1px solid white;
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
#footer .btm_item i{
    font-size: 20px;

}
#footer .btm_item p{
    font-size: 14px;
    padding-top: 15px;
   
}
#footer .btm_item:first-child{
    border-left: none;
}
#footer .btm_icon h3{
    text-transform: capitalize;
    font-size: 26px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
#footer .btm_icon i{
    color: white;
    height: 35px;
    width: 35px;
    border: 1px solid white;
    font-size: 16px;
    margin: 10px;
    line-height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#footer .btm_icon i:hover{
    background-color: #fec600;
    color: black;
}
#footer .btm_cp{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-top: 60px;
    color: white;
}
#footer .btm_cp span{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #fec600;
}

/* footer part end */
















